* {
	box-sizing: border-box;
	font-family: "Montserrat", "Roboto", sans-serif;
}

body {
	line-height: 1.618;
	background: $white;
	color: $black;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	font-family: "Montserrat", "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

.fixedcontainer {
	max-width: 1100px;
	margin: 0 auto;

	@media only screen and (max-width: 768px) {
		padding-left: 0.925rem;
		padding-right: 0.925rem;
	}
}

.resimage {
	max-width: 96.5%;
	max-height: 96.5%;
}

/*
Absolute images for the cute ones.
*/

.absoluteimage {
	position: absolute;
	top: 1rem;
	max-width: 5.75rem;

	@media only screen and (max-width: 1000px) {
		max-width: 3.5rem;
		max-height: 5rem;
	}

	&.cornerplantimage {
		left: -0.35rem;
	}

	&.leafstuffimage {
		top: 6.5rem;
		right: 0;
	}

	&.invertleafstuff {
		transform: scale(-1, 1);
	}

	&.sticktoright {
		right: 0;
	}

	&.plantimage {
		bottom: 0;
		top: auto;
	}
}

@media only screen and (max-width: 768px) {
	.invertrow {
		flex-direction: column-reverse;
	}
}

.fofcontainer{
	height: auto;
	display: flex;
	justify-content: center;

	.fofimage{
		max-height: 10rem;
		max-width: 15.5rem;
	}
}