.githubcard{
	border: 0.075rem solid $cardborder;
	border-radius: 0.2rem;
	height: 100%;
	padding: 0.875rem;
	font-size: 0.875rem;
	font-family: $standardfont;
	display: flex;
	flex-flow: column;

	&-top{
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
		line-height: 1.618;

		i{
			color: $carddesc;
		}

		a{
			text-decoration: none;
			color: #007bff;
		}

		&-name{
			padding-left: 0.5rem;
			font-weight: 600;
			font-size: 0.925rem;
			letter-spacing: 6.5%;

			text-decoration: none;
		}
	}

	&-desc{
		flex: 1;
		margin-bottom: 0.5rem;
		font-size: 0.665rem;
		letter-spacing: 2.3%;
		font-family: $standardfont;
		color: $carddesc;
	}

	&-bottom{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: $carddesc;
		font-size: 0.625rem;

		.languagecircle{
			height: 0.625rem;
			width: 0.625rem;
			background: $sidenavbg;
			border-radius: 50%;

			&.javascript{
				background: $javascript;
			}

			&.php{
				background: $php;
			}

			&.typescript {
				background: $typescript;
			}
		}
	}
}

.repocol{
	padding: 1rem !important;
}