.resume {
  max-width: 950px;
  margin: 0 auto;
  border: 0.075rem solid $inputblack;
  border-top: 0.3rem solid $inputblack;
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: $black;
  font-size: 0.875rem;

  * {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.0125rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      font-family: "Roboto", sans-serif;
    }

    &-maininfo {
      font-weight: 500;
      &-heading {
        font-size: 1.5rem;
        font-weight: 700;
        color: $resumeheading;
      }

      &-subheading {
        color: $resumeblack;
        &.location {
          color: $resumegrey;
          font-size: 0.685rem;
        }
      }
    }

    &-secondaryinfo {
      text-align: right;
      @media (max-width: 768px) {
        text-align: left;
        margin-top: 0.35rem;
      }

      &-section {
        margin-bottom: 0.5rem;

        a {
          display: inline-block;
          text-decoration: none;
          &:nth-child(2) {
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  &-container {
    padding: 1.5rem;
  }

  &-sectionheading {
    text-transform: uppercase;
    font-weight: bold;
    color: $resumeheading;
    font-size: 1.125rem;
    font-family: Arial;
    margin: 0.5rem 0;
    letter-spacing: 0.025rem;
  }

  .infochip {
    background: $resumeheading;
    color: $white;
    padding: 0.5rem;
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.015rem;
  }

  &-skills {
    &-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      gap: 1rem;
      font-size: 0.875rem;
      font-weight: 500;

      .infochip {
        min-width: 6.5rem;
      }
    }
  }

  &-additionalinfo {
    &-certifications {
      @media (min-width: 768px) {
        border-left: 0.125rem dashed $separatorgrey;
        padding-left: 0.75rem !important;
      }
    }
  }

  .experience-snippet {
    margin-bottom: 0.75rem;
    font-family: Arial;
    &-title {
      font-weight: 700;
      font-size: 0.95rem;
    }
    &-company,
    &-desc,
    &-link {
      font-weight: 500;
      font-size: 0.75rem;
    }
    &-link {
      display: block;
      color: $linkblue;
      text-decoration: none;
    }
    &-duration {
      font-size: 0.625rem;
      font-weight: 500;
      color: $resumedurationgrey;
    }
  }
}
