.resume {
  max-width: 950px;
  margin: 0 auto;
  border: 0.075rem solid $inputblack;
  border-top: 0.3rem solid $inputblack;
  padding: 1rem;
  color: $black;
  font-size: 0.875rem;

  * {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.0125rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      font-family: "Roboto", sans-serif;
    }

    &-maininfo {
      font-weight: 500;
      &-heading {
        font-size: 1.5rem;
        font-weight: 700;
        color: $resumeheading;
      }

      &-subheading {
        color: $resumeblack;
        &.location {
          color: $resumegrey;
          font-size: 0.75rem;
        }
      }
    }

    &-secondaryinfo {
      text-align: right;
      @media (max-width: 768px) {
        text-align: left;
        margin-top: 0.35rem;
      }

      &-section {
        margin-bottom: 0.5rem;

        a {
          display: inline-block;
          text-decoration: none;
          &:nth-child(2) {
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  &-container {
    padding: 1.5rem;
  }

  &-sectionheading {
    text-transform: uppercase;
    font-weight: bold;
    color: $resumeheading;
    font-size: 1.2rem;
    font-family: Arial;
    margin: 0.5rem 0;
    letter-spacing: 0.025rem;
  }

  .infochip {
    background: $resumeheading;
    color: $white;
    padding: 0.5rem;
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.015rem;
  }

  &-skills {
    &-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      gap: 1rem;
      font-size: 0.875rem;
      font-weight: 500;

      .infochip {
        min-width: 6.5rem;
      }
    }
  }

  &-additionalinfo {
    &-experience {
      position: relative;
      overflow: hidden;

      &-timelineline {
        border-left: 2px dashed $separatorgrey;
        height: 91%;
        top: 62.5px;
        left: 5px;
        position: absolute;
      }
    }
    &-certifications {
      @media (min-width: 768px) {
        border-left: 0.125rem dashed $separatorgrey;
        padding-left: 1.075rem !important;
      }
    }
  }

  .experience-snippet {
    margin-bottom: 0.75rem;
    font-family: Arial;
    &.hasdot {
      position: relative;
      left: 25px;
      margin-bottom: 1.25rem;

      .experience-snippet-desc {
        max-width: 500px;
        @media (max-width: 1100px) {
          max-width: 100%;
          padding-right: 0.5rem;
        }
      }
    }
    &-dot {
      position: absolute;
      display: block;
      left: -25px;
      top: 7.5px;
      width: 12.5px;
      height: 12.5px;
      background-color: $black;
      border-radius: 50%;
    }
    &-title {
      font-weight: 700;
      font-size: 0.95rem;
    }
    &-company,
    &-desc,
    &-link {
      font-weight: 500;
      font-size: 0.825rem;
    }
    &-company {
      font-size: 0.925rem;
    }
    &-link {
      display: block;
      color: $linkblue;
      text-decoration: none;
    }
    &-duration {
      font-size: 0.7rem;
      font-weight: 500;
      color: $resumedurationgrey;
    }
  }
}
