.skillcard{
	width: 45%;
}

#firstitem{
	padding-top: 15vh;
}

#second .right{
	float: none;
	clear: both;
	width: 100%;
}

#menu .left{
	width: 20%;
}

.workfirst{
	width: 90%;
}

.skill .left{
	width: 100%;
	float: none;
	clear: both;
}

.skill .right{
	width: 100%;
	float: none;
	clear: both;
}

.skill .left img{
	max-width: 100%;
	padding: 30px;
	padding-top: 15px;
	max-height: 100%;
	margin-left: 0px;
}

.skill .leftone{
	width: 100%;
	float: none;
	clear: both;
}

.skill .rightone{
	width: 100%;
	float: none;
	clear: both;
}

.skill .rightone img{
	max-width: 100%;
	max-height: 100%;
	padding: 30px;
	padding-top: 15px;
	margin-left: 0px;
}

.skill .left,.skill .right,.skill .leftone,.skill .rightone{
	font-size: 13px;
}

#menu .right{
	width: 80%;
}

#second .left{
	float: none;
	text-align: center;
	clear: both;
	width: 100%;
	padding: 30px;
}


#profilephoto{
	max-width: 200px;
	max-height: 200px;
}

.imageleft .container{
	padding: 10px 20px;
	font-size: 14px;
}

.image{
	margin: 0;
	margin-top: 0px;
	float: right;
	width: 50%;
}

.skilledimage{
	width: auto;
}

.workfirst .right{
	float: none;
	clear: both;
	width: 100%;
}

.workfirst .left{
	float: none;
	clear: both;
	width: 100%;
	padding-top: 10px;
}

.contact .left{
	padding: 0.75rem;
}