$black: #191919;
$footerblack: #212529;
$white: #ffffff;
$footerwhite: #bec3c7;

$sidenavbg: #343d46;

$headerborder: #F3F3F4;

$subtlegrey: #EBF5F5;
$linkhover: #f1f1f1;

$inputbg: #EFF5F5;
$inputblack: #3E4646;

// // Brand colors
// $linkedin: #0077b5;
// $gmail: #C71610;

$standardfont: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

// Language colors
$carddesc: #586069;
$javascript: #F1E05A;
$php: #4F5D95;
$cardborder: #D1D5DA;