$black: #191919;
$footerblack: #212529;
$white: #ffffff;
$footerwhite: #bec3c7;

$sidenavbg: #343d46;

$headerborder: #F3F3F4;

$subtlegrey: #EBF5F5;
$linkhover: #f1f1f1;

// Brand colors
$linkedin: #0077b5;
$gmail: #C71610;