$black: #191919;
$footerblack: #212529;
$white: #ffffff;
$footerwhite: #bec3c7;
$linkblue: #2e64bc;

$sidenavbg: #343d46;

$headerborder: #f3f3f4;

$subtlegrey: #ebf5f5;
$linkhover: #f1f1f1;

$inputbg: #eff5f5;
$inputblack: #3e4646;

$resumeheading: #212121;
$resumeblack: #444444;
$resumegrey: #707070;
$separatorgrey: #acacac;
$resumedurationgrey: #73808d;

// // Brand colors
// $linkedin: #0077b5;
// $gmail: #C71610;

$standardfont: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

// Language colors
$carddesc: #586069;
$javascript: #f1e05a;
$php: #4f5d95;
$typescript: #2b7489;
$cardborder: #d1d5da;
