#first{
	min-height: 100vh;
}

#firstitem{
	width: 100%;
	padding-top: 28vh;
}

.workfirst{
	padding: 30px;
	width: 100%;
}

.skill .left{
	width: 100%;
	float: none;
	clear: both;
}

.skill .right{
	width: 100%;
	float: none;
	clear: both;
}

.skill .left img{
	max-width: 100%;
	padding-top: 15px;
	max-height: 100%;
	margin-left: 0px;
}

.skill .leftone{
	width: 100%;
	float: none;
	clear: both;
}

.skill .rightone{
	width: 100%;
	float: none;
	clear: both;
}

.skill .rightone img{
	max-width: 100%;
	max-height: 100%;
	padding-top: 15px;
	margin-left: 0px;
}

.moreworkbutton{
	font-size: 14px;
}

#typist{
	background: #343434;
	color: #ffffff;
	border-radius: 4px;
	padding:10px;
	padding-bottom: 15px;
}

.pointer{
	color: white;
	font-size: 45px;
	animation: point 1s step-end infinite;
}

/* Animating the typing pointer */

@keyframes point{
	from,to{color: white;}
	50%{
		color: transparent;
	}
}

#second .right{
	float: none;
	font-size: 14.5px;
	clear: both;
	width: 100%;
}

#second .left{
	float: none;
	clear: both;
	width: 100%;
}

.skillcard{
	float: none;
	clear: both;
	width: 100%;
	margin-left: 0px;
}

#profilepicture{
	max-height: 150px;
	max-width: 150px;
}

#typist{
	width: 100%;
	font-size: 32px;
}

.pointer{
	font-size: 35px;
}

.response{
	display: inline-block;
}

.nonresponse{
	display: none;
}

.imageleft{
	width: 100%;
	float: none;
	clear: both;
}

.imageleft .container{
	padding: 25px;
	padding-top: 30px;
}

.image{
	width: 100%;
	margin-left: 0px;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.skilledimage{
	min-width: 100%;
	max-width: 100%;
}

#fourth{
	font-size: 15px;
}

.workfirst .left{
	padding: 10px;
	padding-top: 0px;
}

.workfirst .right{
	margin-top: 10px;
	padding: 10px;
}

form .lefty{
	width: 47%;
}